<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Moderador de Tweets</title>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
    <script src="/js/principal.js"></script>
  </head>
  <body class="container-fluid pt-3">
    <div>
      <h2>Moderador de Tweets</h2>
      <hr>
{{{body}}}
    </div>
  </body>
</html>