<h4>Home</h4>
<br>
<form action="/moderacao" method="GET">
  <div class="form-group w-50">
    <div>
        <label for="inputHashtag">Digite uma hashtag para iniciar coleta e moderação de tweets.</label>
        <input type="text" class="form-control" id="hashtag" name="hashtag" value="{{post.hashtag}}">
    </div>
  </div>
  <button type="submit" class="btn btn-primary">Enviar</button>
</form>