<form>
  <div class="form-group w-50">
    <div>
        <label for="exampleInputEmail1">Digite uma hashtag para iniciar coleta e moderação de tweets.</label>
        <input type="email" class="form-control" id="exampleInputEmail1">
    </div>
  </div>
  <button type="submit" class="btn btn-primary">Enviar</button>
</form>