<h2 style="position:fixed; top:0; right:0; background-color:#DDDDDD; padding:15px; width:100%;">Moderador de Tweets</h2>
<div style="height:70px;"></div>

<div id="divTweet"></div>

<script>
    //VERIFICANDO SE DEVEMOS EXIBIR OU RETIRAR TWEETS DO TELÃO
    setInterval(consultaTweetTelao, 5000);
</script>